@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

html{
scroll-behavior:smooth ;
}
body{ 
margin: 0;
background-color:white;
}
header{
background-color: white;
top:0;
padding-top: 5px;
}
nav a {
color: rgb(3, 2, 2);
margin: 0 20px;
}
.MainMenu{
float: center;
color: white;
text-align: center;
height: 50px;
position: sticky ;
text-align: center;
}
.MainMenu ul{
padding: 0;
margin: 0;
list-style-type: none;    
}
.MainMenu > ul > li{
display: inline-block;
margin-right: 10px;
background-color: white;
color: black;
text-align: center;
}
.purple{
 color: #645cff;   
}
.Exploring{
background-color: #645cff;
color: aliceblue;
text-align: center;
height: 500px;
padding: 150px;
display: block;
margin: 10px auto;
}
.Button{
background-color: #645cff;
color: aliceblue;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;  
}
.About{
text-align: center;   
}
.Services{
text-align: center;  
}
.Services2{
height: 500px;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-content: center;
gap: 10px 30px;
}
.Tours{
text-align: center;    
}
.toursCards{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
}
.tuorsCard{
height: 63%;
width: 100%;
position: relative;
}
.img{
height: 100%;
width: 100%;
}
.p{
position: absolute;
top: 30px;
left: 0;
margin: 0;
background-color: blueviolet;
}

.Gallery{
text-align: center;    
}
.img{
background-color: #645cff;  
gap: 30px 30px;
}

.info{
background-color: #645cff;
color: aliceblue;
text-align: left;
height: 500px;
padding: 150px;
display: block;
}


.footer {
position: auto;
width: 100%;
background-color: black;
color: white;
text-align: center;
padding: 20px;
}




@media (max-width: 1020px){
.mainMenu{
 background-image: url(./hiking.PNG);
 height: 200px;
 width: 400px;   
}
}